{
  "presets": [
    "stage-1",
    "flow",
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "flow-react-proptypes",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "external-helpers",
    "transform-class-properties"
  ]
}
