{
  "extends": ["next", "prettier"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-console": "off",
    "react/no-unescaped-entities": 0,
    "react/self-closing-comp": 1,
    "radix": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "camelcase": "off",
    "@next/next/no-img-element": ["warn"]
  }
}
